.heading{
    background-color:rgb(57, 232, 255);
    box-shadow: 1px 5px 5px grey;
    font-size: 23px;
    width: 100%;
    padding-bottom:20px;
}
.heading_div{
    border-radius: 15px;
    color:black;
    font-size:33px;
    background-color:white;
    box-shadow: 1px 5px 5px grey;
}
.heading_div2{
    font-size: 23px;

}
.span-tags{
    font-size:23px;
    background-color:rgb(255, 57, 57);
    color:black;
    background-color:orange;
    width:10%;
    border-radius:3px;
}
canvas{
    border-style:solid;
    border-width:5px;
    border-color:black;
    border-radius:15px;
    box-shadow:  8px 8px 5px black;
}
.buttons{
    background-color:rgb(255, 57, 57);
    color:black;
    background-color:orange;
    padding-top:15px
}
.footer{
    position:fixed;
    bottom:0px;
    line-height: 3;
    width:100%;
background-color:black;
color:white;
    text-align: center;
}